.container {
  background-color: black;
}
.card {
  margin: auto;
  margin-top: 100px;
  max-width: 70%;
}
.card-header {
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 20pt;
  font-weight: bold;
  align-items: center;
}
.job-image {
  max-height: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: 1px solid black;
  margin-top: 20px;
  border-radius: 5%;
  max-width: 25%;
  margin: auto;
}
img {
  width: 100%;
  border-radius: 5%;
  border: 2px solid black;
}
.textLabel {
  margin-top: 5px;
  color: black;
  word-break: break-all;
  font-family: "Georgia", serif;
  font-weight: bold;
}
#overlay {
  position: fixed;
  display: block;
  height: 100%;
  top: 2;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
.btn-primary {
  -webkit-appearance: none;
  width: auto;
  min-width: 100px;
  border-radius: 24px;
  margin: auto;
  text-align: center;
  padding: 15px 40px;
  margin-top: 5px;
  background-color: #1256b0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
  border: none;
  transition: all 0.3s ease;
  outline: 0;
}
.btn-info {
  -webkit-appearance: none;
  width: auto;
  margin-left: 10px;
  min-width: 100px;
  border-radius: 24px;
  text-align: center;
  padding: 15px 40px;
  margin-top: 5px;
  background-color: #ff4081;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
  border: none;
  transition: all 0.3s ease;
  outline: 0;
}
