<mat-card style="margin-top: 70px;" class="matCard">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <!--Sljedeca linija daje nam pristup objektu-->
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Job Title"
      />
      <!--Daje pristup ovom inputu-->
      <mat-error *ngIf="form.get('title').invalid"
        >Please enter a job title</mat-error
      >
    </mat-form-field>

    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">
        Pick Image
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </div>
    <div
      class="image-preview"
      *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid"
    >
      <img [src]="imagePreview" [alt]="form.value.title" />
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        formControlName="description"
        placeholder="Job Description"
      ></textarea>
      <mat-error *ngIf="form.get('description').invalid"
        >Please enter a job description</mat-error
      >
    </mat-form-field>
    <div style="margin-top: 5px;" ngbDropdown class="d-inline-block">
      <button
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        Location
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button
          (click)="setLocFilter(loc.location)"
          *ngFor="let loc of locations"
          mat-button
          ngbDropdownItem
        >
          {{ loc.location }}
        </button>
      </div>
    </div>
    <div style="margin-left: 30px;" ngbDropdown class="d-inline-block">
      <button
        class="btn btn-outline-primary"
        id="dropdownBasic2"
        ngbDropdownToggle
      >
        Job Type
      </button>
      <div
        style="margin-left: 20px;"
        ngbDropdownMenu
        aria-labelledby="dropdownBasic2"
      >
        <button
          (click)="setJobFilter(job.jobType)"
          *ngFor="let job of jobTypes"
          mat-button
          ngbDropdownItem
        >
          {{ job.jobType }}
        </button>
      </div>
    </div>

    <mat-form-field>
      <textarea
        matInput
        rows="4"
        formControlName="firm"
        placeholder="Firm"
      ></textarea>
      <mat-error *ngIf="form.get('firm').invalid"
        >Please enter a firm</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Save job
    </button>
  </form>
</mat-card>
