<!--Ako imamo ijedan post-->
<div class="container">
  <label>Location:</label>
  <input type="text" [(ngModel)]="filterLocation" />
  <label>JobType:</label>
  <input type="text" [(ngModel)]="filterJobType" />
  <div class="row justify-content-start">
    <div
      *ngFor="
        let job of jobs
          | filter: filterLocation:'location':filterJobType:'jobType'
      "
      class="col-md-3"
    >
      <div class="job-image">
        <img height="250" [src]="job.imagePath" />
      </div>
      <div>
        <label class="textLabel">{{ job.title }}</label
        ><br />
        <label class="textLabel">{{ job.jobType }}</label>
      </div>
      <div>
        <label class="textLabel">
          {{ job.descSubstring }}
        </label>
      </div>
      <div class="buttonDiv">
        <button [routerLink]="['/showMore', job.id]" class="btn btn-primary">
          Show More
        </button>
      </div>
    </div>
  </div>
</div>
