<!--Ako imamo ijedan post-->
<div class="container">
  <div class="row justify-content-start">
    <div class="col-md-3">
      <div class="job-image">
        <img height="250" src="../../../assets/logo.jpg" />
      </div>
      <div>
        <label class="textLabel">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
        </label>
      </div>
      <div class="buttonDiv">
        <button class="btn btn-info">Show More</button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="job-image">
        <img height="250" src="../../../assets/logo.jpg" />
      </div>
      <div>
        <label class="textLabel">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
        </label>
      </div>
      <div class="buttonDiv">
        <button class="btn btn-info">Show More</button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="job-image">
        <img height="250" src="../../../assets/logo.jpg" />
      </div>
      <div>
        <label class="textLabel">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
        </label>
      </div>
      <div class="buttonDiv">
        <button class="btn btn-info">Show More</button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="job-image">
        <img height="250" src="../../../assets/logo.jpg" />
      </div>
      <div>
        <label class="textLabel">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
        </label>
      </div>
      <div class="buttonDiv">
        <button class="btn btn-info">Show More</button>
      </div>
    </div>
  </div>
</div>
